body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #222222;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 24px;
    margin-top: 32px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}
/*
.SIDEBAR {
    position: fixed,
    top: 0,
    left: 0,
    bottom: 0,
    width: 16rem,
    padding: 2rem 1rem,
    background-color: #222222,
}
*/

.sdb {
    "position": "fixed",
    "top": 0,
    "left": 0,
    "bottom": 0,
    "width": "13rem",
    "padding": "2rem 1rem",
    "background-color": "#f8f9fa",
}

/*
.CONTENT_ {
    margin-left: 18rem,
    margin-right: 2rem,
    padding: 2rem 1rem,
}
*/
.content {
    "margin-left": "12rem",
    "margin-right": "0.5rem",
    "padding": "2rem 1rem"
}
